@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Bebas Neue", serif;
}

header {
    font-weight: 600;
}
footer {
    font-weight: 600;
}

nav{
    align-items: center;
}
