@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow: auto;
}

@media (min-width: 768px) {
  html, body {
     overflow-x: hidden;
     height: 100%;
  }
    
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
h2, h3, h4, h5, h6{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


header {
    font-weight: 600;
}
.background-image{
    height: auto; 
    max-height: 575px;
    image-rendering: auto;
}
.title{
    color: white;
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.title h1{
    font-size: clamp(4rem, 8vw, 7rem);
}
.navbar{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.nav-link{
    color: white;
}
.nav-item{
    margin-left: 2rem;
    margin-right: 2rem;
}
.nav-item .nav-link {
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: white 0.5s ease;
}
.nav-item .nav-link:hover {
    color: white;
    border-bottom-color: white;
}
.offcanvas{
    background-color: rgba(232, 133, 155, 0.8);
}

.about{
    background-color: #FDF4F4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.outframe{
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0 0 15px rgba(232, 133, 155, 0.6)
}
.inframe{
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ani{
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
    .ani {
        max-width: 130px;
    }
}
@media (min-width: 577px) and (max-width: 991px) {
    .ani {
        max-width: 200px;
    }
}
@media (min-width: 992px) {
    .ani {
        max-width: 300px;
    }
}
.text-about{
    font-family: "Chathura", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.text-about h3{
    color: #F475AC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: clamp(1rem, 5vw, 3rem);
}
.text-about p{
    color: #936784;
}
button{
    font-size: 1.3rem;
    background-color: #F475AC;
    color: white;
    border-color: #F475AC;
    padding: 0.5rem 1rem;
    border-radius: 15px; 
}
button:hover{
    background-color: white;
    color: #F475AC;
    border-color: #F475AC;
}

.gallery{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F089A4;
}
.gallery-quote{
    color: white;
    margin-bottom: 5px;
    padding: 20px 20px;

    border-top: 5px solid white;
    border-left: 10px solid white;
    border-radius: 10px;
}
.left{
    font-family: "Chathura", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.left h4{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: clamp(0.5rem, 3vw, 2rem);
}
.left .button{
    background-color: #FFB7D6;
    border-color: #FFB7D6;
}
.left .button:hover{
    background-color: white;
    color: #FFB7D6;
    border-color: #FFB7D6;
}
.top{
    padding-right: 35px;
    margin-bottom: 6px;
    text-align: left;
}
.bottom{
    padding-left: 35px;
    text-align: right;
}
.right{
    padding-right: 2rem;
}
.ani-make{
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
    .ani-make {
        max-width: 130px;
    }
}
@media (min-width: 577px) and (max-width: 991px) {
    .ani-make {
        max-width: 200px;
    }
}
@media (min-width: 992px) {
    .ani-make {
        max-width: 300px;
    }
}

.contact{
    background-color: #FDF4F4;
    padding: 2rem;
    color: #724964;
}
.contact .container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(232, 133, 155, 0.6)
}
.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: fill;
    overflow: hidden;
    border: 5px dotted #936784;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
@media (max-width: 576px) {
    .logo {
        width: 7rem;
        height: 7rem;
    }
}
@media (min-width: 577px) and (max-width: 991px) {
    .logo {
        width: 8rem;
        height: 8rem;
    }
}
@media (min-width: 992px) {
    .logo {
        width: 10rem;
        height: 10rem;
    }
}
.contact h4{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: clamp(1rem, 3vw, 2rem);
    margin-top: 1rem;
}
.contact a{
    margin: 0px 1rem;
    color: #724964;
}
.contact i{
    font-size: clamp(0.5rem, 3vw, 2rem);
}
.contact-links{
    margin-bottom: 1rem;
}

footer {
    height: 3rem;
    background-color: #E25D97;
    font-weight: 600;
    color: white;
    font-family: "Chathura", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
footer p{
    margin-left: 3.5rem;
    margin-bottom: 0px;
}

.about-page{
    background-color: white;
}